* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font-weight: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  // margin: 0;
  font: inherit; // inherit font from body
  // line-height: normal;
  background: none;
  border: none;

  // -webkit-appearance: none; // removes Safari inner styles
  // -moz-appearance: none; // removes Firefox inner styles
  // appearance: none; // standard

  &:focus,
  &:active {
    outline: none;
  }
}
